@model DoAnGiay.Areas.Admin.Models.ProducerModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
@using (Html.BeginForm("Create", "Producer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ }

@*<h1>Create</h1>

    <h4>ColorModel</h4>
    <hr />*@
<div class="row">
    <div class="col-xs-12">
        <form asp-action="Create" class="form-horizontal" role="form" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" type="text" id="form-field-1" placeholder="Nhập Tên" class="col-xs-10 col-sm-5" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>



            <div class="space-4"></div>

            <div class="form-group">
                <label asp-for="Infor" class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                <div class="col-sm-9">
                    <input asp-for="Infor" type="text" id="form-field-1" placeholder="Nhập Nội Dung Mô tả" class="col-xs-10 col-sm-5" />
                </div>
                <span asp-validation-for="Infor" class="text-danger"></span>
            </div>

            <div class="space-4"></div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit" value="Create">
                        <i class="ace-icon fa fa-check bigger-110"></i>

                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}